# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
build/

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Config (local)
.dvkcli/

# Debug
__debug_bin*
